@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
#d-box {
  color: #fff;
  text-decoration: none;
}
#d-box h3 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 30px;
}
#d-box p {
  font-size: 15pxpx;
  font-family: Franklin Gothic Book;
  /* font-family: "SUSE", sans-serif; */
}
.accordion-header {
  font-family: "SUSE", sans-serif;
}
#cash-box li {
  list-style: none;
  border: 1px solid rgba(211, 211, 211, 0.794);
  padding: 5px;
}
#update {
  height: 550px;
  overflow-x: hidden;
  overflow-y: scroll;
}
